@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #0a0a0f;
    color: #ffffff;
  }

  body {
    @apply font-sans overflow-x-hidden antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-accent-gradient font-extrabold;
  }

  .glass {
    @apply backdrop-blur-md bg-white-5 border border-white-10;
  }

  .glass-card {
    @apply glass rounded-2xl shadow-lg;
  }
}